.App {
  display: flex;
  max-width: 80%;
  margin: 0 auto;
}

.lesson {
  margin-left: 100px;
}

@media (max-width: 1023px) {
  .App {
    max-width: 90%;
  }

  .lesson {
    margin-left: 50px;
  }
}

@media (max-width: 767px) {
  .App {
    flex-direction: column;
  }

  .lesson {
    margin-left: 0px;
  }
}
